
.container{
    width: 100%;
}

.sidebar{
    width: 20%;
    float: left;
}

.main-content{
    width: 75%;
    float: right;
    padding-top: 50px;
    padding-right: 40px;
}

.main-content h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.85);
}

.main-content i{
    color: #00a3d7;
    margin-right: 15px;
}

.main-content h3{
    text-align: center;
    color: crimson;
    margin-top: 20px;
}

.main-content p{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-content .features{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.main-content .feature{
    width: 30%;
    text-align: center;
}