
.container{
    width: 100%;
}

.sidebar{
    width: 20%;
    float: left;
}

.main-content{
    width: 75%;
    float: right;
    padding-top: 50px;
    padding-right: 40px;
}

.main-content h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.85);
}

.main-content i{
    color: #00a3d7;
    margin-right: 15px;
}

.main-content h3{
    text-align: center;
    color: crimson;
    margin-top: 20px;

}
