
.container{
    width: 100%;
}

.sidebar{
    width: 20%;
    float: left;
}

.main-content{
    width: 75%;
    float: right;
    padding-top: 50px;
}

.main-content h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
