.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    z-index: 100;
    border-radius:20px;
    transition: all .3s ease;
}
.sidebar .links ul li{
    padding: 50px 50px 50px 0px;
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
}
 .sidebar .logo{
        padding: 50px;
        text-align: center;
        border-bottom: 1px solid #f1f1f1;
    }


 .sidebar-content{
     display: flex;
        flex-direction: column;
        justify-content: space-between;
    height: 20%;
 }

