*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    z-index: 100;
    border-radius:20px;
    transition: all .3s ease;
}

header{
    text-align: center;
    padding: 4rem;
    font-size: 1.7rem;
    border-bottom: 1px solid #f1f1f1;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.sidebar ul a{
    display: block;
    padding: 16px 32px;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 1.2rem;
    color: #000;
    box-sizing: border-box;
    transition: .4s;
}

.sidebar ul li:hover a{
    padding-left: 50px;
    background: #f1f1f1;
}

.sidebar ul li a span.icon{
    margin-right: 16px;
}

.sidebar li{
    border-bottom: 1px solid #f1f1f1;
}

.sidebar i{
    margin-right: 16px;
    color:#00a3d7;
}

.logo a{
    text-decoration: none;
    color: #000;
}




